@layer framework, theme, components;

@layer framework {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html,
  body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  input,
  button,
  textarea,
  select {
    cursor: pointer;
    font: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  #root,
  #__next {
    isolation: isolate;
  }
}

@layer theme {
  body {
    --bao-typography-heading-large: 700 32px /40px sans-serif;
    --bao-icon: url("./static/bao-icon.svg");
    --bao-steamer: url("./static/steamer.svg") no-repeat bottom;
    --bao-steamer-open: url("./static/steamer-open.svg") no-repeat bottom;
    --bao-steamer-half-open: url("./static/steamer-half-open.svg") no-repeat
      bottom;
    --bao-steamer-empty: url("./static/steamer-empty.svg") no-repeat bottom;
    --bao-steamer-closed: url("./static/steamer-closed.svg") no-repeat bottom;
    --bao-standalone: url("./static/bao-standalone.svg") no-repeat bottom;
    --bao-standalone-faces: url("./static/bao-standalone-faces.svg") no-repeat bottom;
    --bao-auntie: url("./static/auntie.svg") no-repeat bottom;
  }
  .icon {
    height: 1em;
    width: 1em;
  }
}

@layer components {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
  }
  .container > section:not(:last-child) {
    border-right: 2px solid black;
  }
  .bao-auntie picture {
    background: var(--bao-auntie);
    background-size: contain;
  }
  .bao-cart picture {
    background: var(--bao-steamer-half-open);
    background-size: contain;
  }

  .bao-steam-basket picture {
    background: var(--bao-steamer-closed);
    background-size: contain;
  }

  
  .clicker {
    margin: auto;
  }
  .create-product {
    padding: 16px;
    border-bottom: 2px solid black;
  }
  .create-product button {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    border: none;
  }
  button.bao-wrap {
    background: var(--bao-standalone);
  }
  button.bao-wrap:hover {
    background: var(--bao-standalone-faces);
  }
  button.bao-wrap:active {
    transform: scale(1.1);
  }
  button.bao-steam {
    background: var(--bao-steamer-empty);
    background-size: contain;
  }
  button.bao-steam:hover {
    background: var(--bao-steamer-open);
    background-size: contain;
  }
  button.bao-steam:active {
    transform: scale(1.1);
  }
  button.bao-sell {
    background: var(--bao-steamer-closed);
    background-size: contain;
  }
  button.bao-sell:hover {
    background: var(--bao-steamer-half-open);
    background-size: contain;
  }
  button.bao-sell:active {
    transform: scale(1.1);
  }
  .create-product {
    display: flex;
    flex-direction: column;
    height: 16em;
    align-items: center;
  }
  .module-container {
    display: grid;
    gap: 24px;
    padding: 24px;
  }
  .module-container article {
    display: flex;
    gap: 24px;
  }
  .module-container button {
    display: flex;
    align-items: center;
  }
  .module-container button section {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 24px;
  }
  .module-container button section div {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .module-container button .cost picture {
    display: flex;
    align-items: center;
    height: 1em;
    width: 1em;
  }
  .module-container button .cost picture {
    background: var(--bao-icon);
    background-size: contain;
    margin-right: 4px;
  }
  .module-container figure {
    display: flex;
    flex-direction: row;
  }
  .module-container figure picture {
    height: 5em;
    width: 5em;
  }

  button .end-enhancer {
    font: var(--bao-typography-heading-large);
    line-height: inherit;
  }
}
